

    <!--<2% articles.each do |article| %>-->
    <!--  <div id="article_<2%= article.id %>">-->
    <!--      <2%= link_to user_path(article.user) do %>-->
    <!--        <2%= attachment_image_tag(article.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>-->
    <!--      <2% end %>-->
    <!--      <2%= attachment_image_tag article, :image, :fill, 100, 100, format: 'jpeg', fallback: "no-image-icon.jpg" %>-->
    <!--    <2%= link_to article.title, article_path(article), class: "article_#{article.id}" %>-->
    <!--    <2%= article.body %>-->
    <!--    <div class="favorite"><2%= render "favorites/favorite", article: article %></div>-->

    <!--  </div>-->

    <!--<2% end %>-->







       <% articles.each do |article| %>
  <article class="comic">
  <div class="panel">
    <p class="speech">
      <%= link_to user_path(article.user) do %>
        <%= attachment_image_tag(article.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
      <% end %>
    </p>

    <div id="article_<%= article.id %>">
      <div class="favorite"><%= render "favorites/favorite", article: article %></div>
      <%= attachment_image_tag article, :image %>

    </div>
    <p class="text bottom-right">
      <%= link_to article.title, article_path(article), class: "article_#{article.id}" %>
    </p>
  </div>



</article>
   <% end %>
