<%= render 'layouts/error', obj: @article %>

<h1>編集</h1>
<%= form_with model: @article, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '編集' %>
<% end %>