<div class='container'>
  <div class="card">
    <div class="card-body">
      <h2>プロフィール編集</h2>
      <%= form_with model:@user, local:true do |f| %>
        <h4>ProfileImage</h4>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no-image-icon.jpg" %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        <h4>Name</h4>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", size: "2x1", class: "form-control"%>
        <h4>Introduction</h4>
        <%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:"紹介文", size: "20x10", class: "form-control"%>

        <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>
</div>