<div class="my">
  <div class="name">neme:<%= @user.name %></div>
  <div class="introduction">紹介文:
    <div><%= @user.introduction %></div>
  </div>
  <div class="profile_image">
    <%= attachment_image_tag @user, :profile_image, size:"30x30", format: 'jpeg', fallback: "k0917_2.jpg" %>
  </div>
  <div class="boxContainer">
    <div class="box">投稿数:<%= @user.articles.count %></div>
    <div class="box">コメ数:<%= @user.comments.count %></div>
    <div class="box">
      follows:<%= link_to "#{@user.followings.count}", user_followings_path(@user.id) %>
    </div>
    <div class="box">
      followers:<%= link_to "#{@user.followers.count}", user_followers_path(@user.id) %>
    </div>
  </div>

  <div class="prof">
    <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
    <%= render 'relationships/follow_button', user: @user %>
  </div>
</div>

 <div class="articles">
  <% @articles.each do |article| %>
  <div class="gazo" style="background-color: rgb(250, 253, 255);">
    <canvas class="DstCanvas"></canvas>
    <%= link_to article_path(article.id) do %>
      <div class="<%= article.image_id ? 'imgshake' : '' %>" hidden><%= attachment_image_tag article, :image, :fill, 100, 100 %></div>
    <% end %>
    <div class="icon">
      <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "k0917_2.jpg" %>
        <%= article.user.name %>
        <%= link_to article_path(article.id) do %>
          <p>タイトル：<%= article.title %></p>
        <% end %>
        <p>説明：<%= article.body %></p>
    </div>
  </div>
  <% end %>
</div>