<!DOCTYPE html>
<html>
  <head>
    <title>ImgShake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/e52adb189d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="background-color: rgba(250, 253, 255, .8);"><span><%= image_tag 'imgshake.png', :size => '100x100'%></span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="background-color: rgba(250, 253, 255, .8);"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <div class="header-btn">
                <div class="text-center">

                  <% if user_signed_in? %>
                  <%= form_tag(search_path, method: :get) do %>
                    <%= select_tag 'range' ,options_for_select([['User', '1'], ['Title', '2']]) %>
                    <% select_tag 'search', options_for_select([["部分一致","partial_match"]]) %>
                    <%= text_field_tag (:word) %>
                    <%= submit_tag "検索" %>
                  <% end %>

                  <div class="text-center">
                    <li class="btn-group mr-5" role="group" aria-label="First group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to 'Articles', articles_path %>
                    </li>
                    <li class="btn-group mr-5" role="group" aria-label="Second group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to 'New', new_article_path %>
                    </li>
                    <li class="btn-group mr-5" role="group" aria-label="Third group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to 'My-Page', user_path(current_user.id) %>
                    </li>
                    <li class="btn-group mr-5" role="group" aria-label="Fourth group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to "Log-out", destroy_user_session_path, method: :delete %>
                    </li>

                  <% else %>
                    <li class="btn-group mr-5" role="group" aria-label="First group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to "Sign-up", new_user_registration_path %>
                    </li>
                    <li class="btn-group mr-5" role="group" aria-label="Second group" style="background-color: rgb(250, 253, 255);">
                      <%= link_to "Log-in", new_user_session_path %>
                    </li>
                  <% end %>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="cont">
    <%= yield %>
    </div>

    <footer>
  	  <p>IMG-Shake 2021-7</p>
    </footer>
  </body>
</html>
